[viewBag]
==
<!-- Product -->

<div class="card border h-100 transition-3d-hover">
    <div class="card-img-top position-relative">
        {% if product.image %}

        <div class="card-img-top" style="background-image: url('{{ product.image.thumb(300,auto) }}'); height:200px; width:100%; background-size:cover;">
        
              <div class="p-4 h-100" style="top:0;width:100%;background: linear-gradient(to top, rgba(33,33,33,0) 0%, rgba(33,33,33,0.6) 100%);">
                    <small class="d-block small font-weight-bold text-cap text-white mb-2 text-shadow">
                        {{ product.categories.first().name}}
                    </small>
        
                    <div class="mb-3">
                        <h3 class="text-white text-shadow">
                            <a class="text-white"
                                href="{{ 'product'|page({slug: product.slug, variant: product.variantHashId}) }}">
                                {{ product.name }}
                            </a>
                        </h3>
                    </div>
              </div>
        
        </div>

        {% else %}

        <div class="card-img-top" style="background-image: url('{{'assets/images/others/placeholder.png'|theme}}'); height:160px; width:100%"></div>

        {% endif %}

    </div>

    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="d-flex align-items-center">
                <div class="small text-muted">
                    <i class="fa fa-book-reader d-block d-sm-inline-block mb-1 mb-sm-0 mr-1"></i>
                    {{product.getPropertyValueBySlug('course-place').value }}
                </div>
                <small class="text-muted mx-2">|</small>
                <div class="small text-muted">
                    <i class="fa fa-clock d-block d-sm-inline-block mb-1 mb-sm-0 mr-1"></i>
                    {{product.getPropertyValueBySlug('course-study-hours').value }} uur
                </div>


            </div>
        </div>

        <p class="small text-muted list-unstyled">
            <i class="fa fa-graduation-cap d-block d-sm-inline-block mb-1 mb-sm-0 mr-1"></i>
            {{product.getPropertyValueBySlug('course-points').value }}
        </p>

    </div>

    <div class="card-footer border-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div class="mr-2">
                <span class="d-block h5 text-lh-sm mb-0">{{product.price()}}</span>
            </div>
            <a class="btn btn-sm btn-primary transition-3d-hover"
                href="{{ 'product'|page({slug: product.slug, variant: product.variantHashId}) }}">
                Meer info
            </a>
        </div>
    </div>
</div>