<form data-request="onUpdatePassword" method="POST" accept-charset="UTF-8" data-request-flash data-request-validate>
    {{form_token()}}
    {{form_sessionKey()}}


    <div class="card mb-3 mb-lg-5">
        <div class="card-header">
            <h5 class="card-title">Wachtwoord</h5>
        </div>

        <!-- Body -->
        <div class="card-body">
            <!-- Form -->
            <form>
                <!-- Form Group -->
                <div class="row form-group">
                    <label for="currentPasswordLabel" class="col-sm-3 col-form-label input-label">Huidig wachtwoord</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="current_password" id="current_password"
                            placeholder="Vul je huidig wachtwoord in" aria-label="Enter current password">
                        <div>
                            <span data-validate-for="current_password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                    <label for="newPassword" class="col-sm-3 col-form-label input-label">Nieuw wachtwoord</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Vul je nieuwe wachtwoord in" aria-label="Enter new password">
                        <div>
                            <span data-validate-for="password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                    <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label input-label">Nieuw wachtwoord (controle)</label>

                    <div class="col-sm-9">
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password_confirmation"
                                id="password_confirmation" placeholder="Bevestig je nieuwe wachtwoord"
                                aria-label="Confirm your new password">
                            <div>
                                <span data-validate-for="password_confirmation" class="text-danger"></span>
                            </div>
                        </div>

                        <h5>Wachtwoord vereisten:</h5>

                        <p class="card-text font-size-1">Zorg ervoor dat aan deze vereisten wordt voldaan:</p>

                        <ul class="font-size-1">
                            <li>Minimaal 8 karakters lang</li>
                            <li>Ten minste één kleine letter</li>
                            <li>Minimaal één hoofdletter</li>
                        </ul>
                    </div>
                </div>
                <!-- End Form Group -->

                <div class="d-flex justify-content-end">
                    <a class="btn btn-white" href="javascript:;">Annuleren</a>
                    <span class="mx-2"></span>
                    <button type="submit" class="btn btn-primary">Wachtwoord opslaan</button>
                </div>
            </form>
            <!-- End Form -->
        </div>
        <!-- End Body -->
    </div>

</form>