<form data-request="onUpdateEmail" method="POST" accept-charset="UTF-8" data-request-flash data-request-validate>
    {{form_token()}}
    {{form_sessionKey()}}

    <div class="card mb-3 mb-lg-5">
        <div class="card-header">
            <h5 class="card-title">Account settings</h5>
        </div>

        <!-- Body -->
        <div class="card-body">
            <form>
                <!-- Form Group -->
                <div class="row form-group">
                    <label for="addressLine1Label" class="col-sm-3 col-form-label input-label">E-mail
                        login</label>

                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="email" id="email" placeholder="E-mail"
                            aria-label="Your address" value="{{ user.email }}">
                        <div>
                            <span data-validate-for="email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- End Form Group -->


            </form>
        </div>
        <!-- End Body -->

        <div class="card-footer d-flex justify-content-end">
            <a class="btn btn-white" href="javascript:;">Cancel</a>
            <span class="mx-2"></span>

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </div>
</form>