<div class="card-body">

    <!-- Billing Form -->

    <div class="row">


        <div class="col-md-12 mb-2">
            <p>Please accept terms and conditions and confirm order. </p>
        </div>




        <div class="col-12">
            <div class="bg-light p-2 pl-4 rounded">
                <!-- Checkbox -->
                <div class="js-form-message">
                    <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                        <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox"
                            required data-msg="Please accept our Terms and Conditions.">
                        <label class="custom-control-label" for="termsCheckbox">
                            <small>
                                I agree with the Terms and Conditions
                            </small>
                        </label>
                    </div>
                </div>
                <!-- End Checkbox -->
            </div>
        </div>

    </div>
    <!-- End Billing Form -->
</div>
<div class="card-footer bg-soft-light">

    <div class="d-flex align-items-center">
        <!-- <button class="btn btn-link text-black-50 back"><i class="fa fa-chevron-left"></i>
            Previous</button> -->
        <div class="d-flex align-items-center ml-auto">
            <button data-request="onCheckout" type="button" id=""
                class="js-mall-checkout mall-btn-checkout btn btn-warning transition-3d-hover next" disabled>Confirm
                Order <i class="fa fa-chevron-right"></i> </button>
        </div>
    </div>

</div>