    /*
    Flaticon icon font: Flaticon
    Creation date: 30/12/2020 09:56
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-male:before { content: "\f100"; }
.flaticon-chat:before { content: "\f101"; }
.flaticon-premium-quality:before { content: "\f102"; }
.flaticon-discount:before { content: "\f103"; }
.flaticon-search:before { content: "\f104"; }
.flaticon-graduation:before { content: "\f105"; }
.flaticon-block:before { content: "\f106"; }
.flaticon-agile:before { content: "\f107"; }
.flaticon-online-learning:before { content: "\f108"; }
.flaticon-employee:before { content: "\f109"; }
.flaticon-building:before { content: "\f10a"; }
.flaticon-employees:before { content: "\f10b"; }
.flaticon-test:before { content: "\f10c"; }
    
    $font-Flaticon-male: "\f100";
    $font-Flaticon-chat: "\f101";
    $font-Flaticon-premium-quality: "\f102";
    $font-Flaticon-discount: "\f103";
    $font-Flaticon-search: "\f104";
    $font-Flaticon-graduation: "\f105";
    $font-Flaticon-block: "\f106";
    $font-Flaticon-agile: "\f107";
    $font-Flaticon-online-learning: "\f108";
    $font-Flaticon-employee: "\f109";
    $font-Flaticon-building: "\f10a";
    $font-Flaticon-employees: "\f10b";
    $font-Flaticon-test: "\f10c";