description = "Features 02"

[viewBag]
==
<!-- Features Section -->
{% if block.bg_color %}<div class="bg-light">{%endif%}
    <div class="container space-2">
        <!-- Title -->
        <div class="w-md-80 text-center mx-md-auto mb-5 mb-md-9"  data-aos="fade-up">
            <span class="d-block small font-weight-bold text-cap mb-2">{{block.subtitle}}</span>
            <h2 class="h1">{{block.title}}</h2>
        </div>
        <!-- End Title -->

        <div class="row">
            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0"  data-aos="fade-up" data-aos-delay="500">
               <div class="bg-light p-4">
                   <!-- Nav -->
                   <ul class="nav nav-box" role="tablist">
                       {% for nav in block.nav %}
                       <li class="nav-item w-100 mx-0 mb-3">
                           <a class="nav-link p-4 {%if loop.index == 1 %}active{%endif%}" id="pills-one-code-features-item{{loop.index}}-tab" data-toggle="pill" href="#pills-one-code-features-item{{loop.index}}" role="tab" aria-controls="pills-one-code-features-example2" aria-selected="true">
                               <div class="media align-items-center align-items-lg-start">
                                   <figure class="w-100 max-w-6rem mt-2 mr-4">
                                       <img class="img-fluid" src="{{nav.icon|media}}" alt="SVG">
                                   </figure>
                                   <div class="media-body">
                                       <h4 class="mb-0">{{nav.title}}</h4>
                                       <div class="d-none d-lg-block mt-2">
                                           <p class="text-body mb-0">{{nav.text}}</p>
                                       </div>
                                   </div>
                               </div>
                           </a>
                       </li>
                       {% endfor %}
                   </ul>
                   <!-- End Nav -->
               </div>
            </div>

            <div class="col-lg-7 order-lg-1 align-self-center" data-aos="fade-up">
                <!-- Tab Content -->
                <div class="tab-content pr-lg-4">
                    {% for nav in block.nav %}
                    <div class="tab-pane fade show {%if loop.index == 1 %}active{%endif%}" id="pills-one-code-features-item{{loop.index}}" role="tabpanel">
                        {% if nav.content_template %}
                            {% set tabPartial = 'features/' ~ nav.content_template %}
                            {% if partial(tabPartial) %}
                                {% partial tabPartial %}
                            {% else %}
                                <code>Partial not found</code>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <!-- End Tab Content -->
            </div>
        </div>
    </div>
{% if block.bg_color %}</div>{%endif%}
<!-- End Features Section -->