description = "Features"

[viewBag]
==
<!-- Features Section -->
{% if block.bg_color %}<div class="bg-light">{%endif%}
<div id="featuresSection" class="container space-2 space-lg-3">
    <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5">
            <div class="mb-3">
                <h2 class="h1">{{block.title_left}}</h2>
            </div>

            {{block.content_left|raw}}
            
            {% if block.button_text != '' and block.button_url != '' %}
            <div class="mt-4">
                <a class="btn btn-primary btn-wide transition-3d-hover" href="{{block.button_url}}"{% if block.button_target%} target="_blank"{%endif%}>{{block.button_text}}</a>
            </div>
            {% endif %}
        </div>

        <div class="col-lg-6">
            <div class="card shadow-none bg-soft-info  w-lg-75 overflow-hidden p-5 mx-lg-auto">
                <div class=" mb-5">
                    <h3>{{block.title_right}}</h3>
                </div>
                {{block.content_right|raw}}
            </div>
        </div>
    </div>
</div>
{% if block.bg_color %}</div>{%endif%}
<!-- End Features Section -->