description = "Features 05"

[viewBag]
==
<!-- Features Section -->
<div class="{% if block.bg_color %}bg-light{%endif%}">
    <div class="container space-2">
        <div class="row justify-content-lg-between align-items-lg-center">

            <div class="col-lg-5">
                <img src="{{block.image|media}}" alt="" style="width:100%">
            </div>
            <div class="col-lg-6">
                <div class="mb-6">
                    <span class="d-block small font-weight-bold text-cap mb-2">{{block.subtitle}}</span>
                    <h2 class="mb-4 h1">{{block.title}}</h2>
                    {{block.content|raw}}
                </div>

                <div>
                   {% for btn in block.buttons %}
                        {% if btn.type == 'primary' %}
                        <a class="btn btn-warning btn-wide transition-3d-hover pl-5 pr-5" href="{{btn.url}}"{% if btn.target%} target="_blank"{%endif%}>{{btn.text}}</a>
                        {% elseif btn.type == 'link' %}
                        <a class="btn btn-outline-warning btn-wide ml-2 pr-5 pl-5" href="{{btn.url}}"{% if btn.target%} target="_blank"{%endif%}>{{btn.text}} <i class="fas fa-angle-right fa-sm ml-1"></i></a>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Features Section -->