[viewBag]
==
<!-- Features Section -->
<div class="bg-light">
    <div class="container space-top-2">
        <div class="row justify-content-lg-between align-items-lg-center">
            <div class="col-lg-5 mb-9 mb-lg-0">
                <div class="mb-6">
                    <span class="d-block small font-weight-bold text-cap mb-2">{{block.subtitle}}</span>
                    <h2 class="mb-4 h1">{{block.title}}</h2>
                    {{block.content|raw}}
                </div>

                <div>
                    <a class="btn btn-warning btn-wide transition-3d-hover  pl-5 pr-5" href="/over-impact">Meer over Impact</a>
                    <a class="btn btn-outline-warning btn-wide ml-2  pl-5 pr-5" href="/over-impact#team">Bekijk ons team <i class="fas fa-angle-right fa-sm ml-1"></i></a>
                </div>

            </div>

            <div class="col-lg-6 ">
                <img src="{{'assets/img/others/team-home.png'|theme}}" alt="Team Impact Opleidingen" style="width:100%">
            </div>
        </div>
    </div>
</div>
<!-- End Features Section -->

<!-- Waarom -->
<div class="bg-light">
    <!-- Features Section -->
    <div class="container space-2">

        <div class="row mx-n2">
            <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-lg-0">
                <!-- Icon Blocks -->
                <div class="card h-100 transition-3d-hover">
                    <div class="card-body">
                        <i class="fi fi-lg flaticon-premium-quality"></i>
                        <h4 class="mt-4 text-brown">{{block.oneTitle}}</h4>
                        <p class="font-size-1 text-body mb-0">{{block.oneText}}</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-lg-0">
                <!-- Icon Blocks -->
                <div class="card h-100 transition-3d-hover" >
                    <div class="card-body">
                        <i class="fi fi-lg flaticon-discount"></i>
                        <h4 class="mt-4 text-brown">{{block.twoTitle}}</h4>
                        <p class="font-size-1 text-body mb-0">{{block.twoText}}</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-sm-0">
                <!-- Icon Blocks -->
                <div class="card h-100 transition-3d-hover">
                    <div class="card-body">
                        <i class="fi fi-lg flaticon-chat"></i>
                        <h4 class="mt-4 text-brown">{{block.threeTitle}}</h4>
                        <p class="font-size-1 text-body mb-0">{{block.threeText}}</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3 px-2">
                <!-- Icon Blocks -->
                <div class="card h-100 transition-3d-hover">
                    <div class="card-body">
                        <i class="fi fi-lg flaticon-male"></i>

                        <h4 class="mt-4 text-brown">{{block.fourTitle}}</h4>
                        <p class="font-size-1 text-body mb-0">{{block.fourText}}</p>
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
    </div>
    <!-- End Features Section -->
</div>
<!-- End Waarom -->