[viewBag]
snippetCode = "snippet-crosslinks"
snippetName = "Crosslinks"
snippetProperties[oneTitle][title] = "Blok 1 - Titel"
snippetProperties[oneTitle][type] = "string"
snippetProperties[oneTitle][default] = ""
snippetProperties[oneTitle][options][] = ""
snippetProperties[oneText][title] = "Blok 1 - Tekst"
snippetProperties[oneText][type] = "string"
snippetProperties[oneText][default] = ""
snippetProperties[oneText][options][] = ""
snippetProperties[oneButton][title] = "Blok 1 - Button"
snippetProperties[oneButton][type] = "string"
snippetProperties[oneButton][default] = ""
snippetProperties[oneButton][options][] = ""
snippetProperties[oneLink][title] = "Blok 1 - Link"
snippetProperties[oneLink][type] = "string"
snippetProperties[oneLink][default] = ""
snippetProperties[oneLink][options][] = ""
snippetProperties[twoTitle][title] = "Blok 2 - Titel"
snippetProperties[twoTitle][type] = "string"
snippetProperties[twoTitle][default] = ""
snippetProperties[twoTitle][options][] = ""
snippetProperties[twoText][title] = "Blok 2 - Tekst"
snippetProperties[twoText][type] = "string"
snippetProperties[twoText][default] = ""
snippetProperties[twoText][options][] = ""
snippetProperties[twoButton][title] = "Blok 2 - Button"
snippetProperties[twoButton][type] = "string"
snippetProperties[twoButton][default] = ""
snippetProperties[twoButton][options][] = ""
snippetProperties[twoLink][title] = "Blok 2 - Link"
snippetProperties[twoLink][type] = "string"
snippetProperties[twoLink][default] = ""
snippetProperties[twoLink][options][] = ""
snippetProperties[threeTitle][title] = "Blok 3 - Titel"
snippetProperties[threeTitle][type] = "string"
snippetProperties[threeTitle][default] = ""
snippetProperties[threeTitle][options][] = ""
snippetProperties[threeText][title] = "Blok 3 - Tekst"
snippetProperties[threeText][type] = "string"
snippetProperties[threeText][default] = ""
snippetProperties[threeText][options][] = ""
snippetProperties[threeButton][title] = "Blok 3 - Button"
snippetProperties[threeButton][type] = "string"
snippetProperties[threeButton][default] = ""
snippetProperties[threeButton][options][] = ""
snippetProperties[threeLink][title] = "Blok 3 - Link"
snippetProperties[threeLink][type] = "string"
snippetProperties[threeLink][default] = ""
snippetProperties[threeLink][options][] = ""
snippetProperties[fourTitle][title] = "Blok 4 - Titel"
snippetProperties[fourTitle][type] = "string"
snippetProperties[fourTitle][default] = ""
snippetProperties[fourTitle][options][] = ""
snippetProperties[fourText][title] = "Blok 4 - Tekst"
snippetProperties[fourText][type] = "string"
snippetProperties[fourText][default] = ""
snippetProperties[fourText][options][] = ""
snippetProperties[fourButton][title] = "Blok 4 - Button"
snippetProperties[fourButton][type] = "string"
snippetProperties[fourButton][default] = ""
snippetProperties[fourButton][options][] = ""
snippetProperties[fourLink][title] = "Blok 4 - Link"
snippetProperties[fourLink][type] = "string"
snippetProperties[fourLink][default] = ""
snippetProperties[fourLink][options][] = ""
==
<!-- Crosslinks Section -->
    <div class="bg-light">
        <div class="container space-2">

            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0" data-aos="fade-up">
                    <!-- Card -->
                    <article class="card h-100 transition-3d-hover">
                        <div class="w-sm-65 p-5">
                            <h3>{{oneTitle}}</h3>
                            <div class="mb-4">
                                <p>{{oneText}}</p>
                            </div>
                            <a class="btn btn-sm btn-soft-primary btn-pill transition-3d-hover" href="{{oneLink}}">{{oneButton}} <i class="fas fa-angle-right ml-1"></i></a>
                        </div>

                        <div class="position-absolute bottom-0 right-0 w-sm-35 max-w-27rem">
                            <img class="img-fluid" src="{{'assets/img/cross/opleidingen.jpg'|theme}}"
                                 style="width:200px;" alt="Image Description">
                        </div>
                    </article>
                    <!-- End Card -->
                </div>

                <div class="col-lg-6"  data-aos="fade-up" data-aos-delay="150">
                    <!-- Card -->
                    <article class="card h-100 transition-3d-hover">
                        <div class="w-sm-65 p-5">
                            <h3>{{twoTitle}}</h3>
                            <div class="mb-4">
                                <p>{{twoText}}</p>
                            </div>
                            <a class="btn btn-sm btn-soft-primary btn-pill transition-3d-hover" href="{{twoLink}}">{{twoButton}}<i class="fas fa-angle-right ml-1"></i></a>
                        </div>

                        <div class="position-absolute bottom-0 right-0 w-sm-35 max-w-27rem">
                            <img class="img-fluid" src="{{'assets/img/cross/examens.jpg'|theme}}"
                                 style="width:200px;" alt="Image Description">
                        </div>
                    </article>
                    <!-- End Card -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-6 "  data-aos="fade-up" data-aos-delay="200">
                    <!-- Card -->
                    <article class="card h-100 transition-3d-hover">
                        <div class="w-sm-65 p-5">
                            <h3>{{threeTitle}}</h3>
                            <div class="mb-4">
                                <p>{{threeText}}</p>
                            </div>
                            <a class="btn btn-sm btn-soft-primary btn-pill transition-3d-hover" href="{{threeLink}}">{{threeButton}} <i
                                        class="fas fa-angle-right ml-1"></i></a>
                        </div>

                        <div class="position-absolute bottom-0 right-0 w-sm-35 max-w-27rem">
                            <img class="img-fluid" src="{{'assets/img/cross/leeromgeving.jpg'|theme}}"
                                 style="width:200px;" alt="Image Description">
                        </div>
                    </article>
                    <!-- End Card -->
                </div>

                <div class="col-lg-6 mt-6"  data-aos="fade-up" data-aos-delay="250">
                    <!-- Card -->
                    <article class="card h-100 transition-3d-hover">
                        <div class="w-sm-65 p-5">
                            <h3>{{fourTitle}}</h3>
                            <div class="mb-4">
                                <p>{{fourText}}</p>
                            </div>
                            <a class="btn btn-sm btn-soft-primary btn-pill transition-3d-hover" href="{{fourLink}}">{{fourButton}} <i class="fas fa-angle-right ml-1"></i></a>
                        </div>

                        <div class="position-absolute bottom-0 right-0 w-sm-35 max-w-27rem">
                            <img class="img-fluid" src="{{'assets/img/cross/incompany.jpg'|theme}}"
                                 style="width:200px;" alt="Image Description">
                        </div>
                    </article>
                    <!-- End Card -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Crosslinks Section -->