<div class="col-lg-12">
    <!-- Step -->
    <ul class="step step-xl step-inline small mb-4">
        <li class="step-item">
            <div class="step-content-wrapper">
                <span class="step-icon step-icon-secondary text-white"><i class="fa fa-check"></i> </span>
                <div class="step-content">
                    <span class="step-inline-title text-muted font-weight-normal">Bestelling</span>
                </div>
            </div>
        </li>

        <li class="step-item">
            <div class="step-content-wrapper">
                <span class="step-icon step-icon-secondary text-white"><i class="fa fa-check"></i> </span>
                <div class="step-content">
                    <span class="step-inline-title text-muted font-weight-normal">Gegevens</span>
                </div>
            </div>
        </li>


        <li class="step-item">
            <div class="step-content-wrapper">
                <span class="step-icon step-icon-secondary text-white"><i class="fa fa-check"></i> </span>
                <div class="step-content">
                    <span class="step-inline-title text-muted font-weight-normal">Betaling</span>
                </div>
            </div>
        </li>

        <li class="step-item">
            <div class="step-content-wrapper">
                <span class="step-icon step-icon-primary text-white">4</span>
                <div class="step-content">
                    <span class="step-inline-title text-primary">Bevestigen</span>
                </div>
            </div>
        </li>
    </ul>
    <!-- End Step -->

    <!-- Order Completed -->
    <div class="card mb-10 mt-10">
        <div class="w-md-100 w-lg-80 text-center mx-md-auto p-10">
            <i class="fas fa-check-circle text-success fa-5x mb-3"></i>
            <div class="mb-5">
                <h1 class="h2">Bedankt voor je bestelling</h1>
                <h4> Uw bestelnummer  # {{ checkout.order.id }}</h4>
                <p>Hartelijk dank voor je vertrouwen in Impact. Jouw bestelling staat bij ons in het systeem en je betaling is door ons ontvangen. We nemen je bestelling zo snel mogelijk in behandeling. Heb je in de tussentijd vragen? Dan kun je natuurlijk altijd contact met ons opnemen.</p>
            </div>
            <a class="btn btn-primary btn-pill transition-3d-hover px-5" href="/">Naar de homepage</a>
        </div>
    </div>



    <!-- End Order Completed -->
</div>