<!-- Modal -->
<div class="modal fade" id="addedToCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="exampleModalLabel">Toegevoegd aan winkelwagen</h5>
                <button type="button" class="btn btn-xs btn-icon btn-soft-secondary" data-dismiss="modal"
                    aria-label="Close">
                    <svg aria-hidden="true" width="10" height="10" viewBox="0 0 18 18"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor"
                            d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
                    </svg>
                </button>
            </div>
            <div class="modal-body">

                <div class="media mb-4">
                    <span class="icon icon-lg icon-soft-success icon-circle mr-3">
                        <i class="fas fa-check"></i>
                    </span>
                    <div class="media-body font-weight-bold text-dark" id="addtocart-modal-name">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Verder winkelen</button>
                <a class="btn btn-primary" href="{{'checkout'|page}}">Nu bestellen <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>