[viewBag]
==
<div data-aos="fade-left" data-aos-delay="100">
<div class="w-80 font-size-1 mx-1 opacity ">
                    <div class="card">
                        <div class="card-body p-0">
                            <table class="table table-vcenter table-striped table-borderless mb-0">
                                <tbody>

                                <tr>
                                    <td>
                                        <i class="fa fa-file list-group-icon mt-1"></i> Basis
                                    </td>
                                    <th scope="row">
                                        <span class="badge badge-pill badge-success"><i class="fa fa-fw fa-check"></i> Voldaan</span>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-file list-group-icon mt-1"></i> Vermogen
                                    </td>
                                    <th scope="row">
                                        <span class="badge badge-pill badge-success"><i class="fa fa-fw fa-check"></i> Voldaan</span>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-file list-group-icon mt-1"></i> Wft Pensioen
                                    </td>
                                    <th scope="row">
                                        <span class="badge badge-pill badge-warning text-white"><i class="fa fa-fw fa-search"></i> Wordt beoordeeld</span>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-file list-group-icon mt-1"></i>  Schade Zakelijk
                                    </td>
                                    <th scope="row">
                                        <span class="badge badge-pill badge-warning text-white"><i class="fa fa-fw fa-search"></i> Wordt beoordeeld</span>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-file list-group-icon mt-1"></i> SEA/EFA
                                    </td>
                                    <th scope="row">
                                        <span class="badge badge-pill badge-danger text-white"><i class="fa fa-fw fa-exclamation"></i> Openstaand</span>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-file list-group-icon mt-1"></i> FFP
                                    </td>
                                    <th scope="row">
                                        <span class="badge badge-pill badge-success"><i class="fa fa-fw fa-check"></i> Voldaan</span>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
</div>