[viewBag]
==
<div class="position-relative w-60 mb-4" data-aos="fade-left" data-aos-delay="350">
    <div class="card">
        <div class="nav-link p-4 active d-flex align-items-center justify-content-between">
            <div class="mr-3">
                <p class="lead font-w300 mb-0">
                    2
                </p>
                <p class="text-muted mb-0">
                    Openstaand
                </p>
            </div>
            <div>
                <i class="fa fa-2x fa-hourglass-half text-danger"></i>
            </div>
        </div>
    </div>
</div>
<div class="position-relative w-60 mx-auto mb-4" data-aos="fade-left" data-aos-delay="450">
    <div class="card">
        <div class="nav-link p-4 active d-flex align-items-center justify-content-between">
            <div class="mr-3">
                <p class="lead font-w300 mb-0">
                    61
                </p>
                <p class="text-muted mb-0">
                    Voltooid
                </p>
            </div>
            <div>
                <i class="fa fa-2x fa-check text-success"></i>
            </div>
        </div>
    </div>
</div>



<div class="position-relative w-75 font-size-1 mx-1 opacity"data-aos="fade-left" data-aos-delay="550">
    <div class="card">
        <div class="card-body p-0">
            <table class="table table-vcenter table-striped table-borderless mb-0">
                <tbody>

                <tr>
                    <td>
                        <span class="fa fa-square mr-1" style="color: #b8987f;"></span>
                        Basis
                    </td>
                    <th scope="row" class="text-center text-danger">
                        97%
                    </th>
                </tr>
                <tr>
                    <td>
                        <span class="fa fa-square mr-1" style="color: #9aa092;"></span>
                        Consumptief Krediet
                    </td>
                    <th scope="row" class="text-center" style="color: #82B54B;">
                        100%
                    </th>
                </tr>
                <tr>
                    <td>
                        <span class="fa fa-square mr-1" style="color: #79bbb7;"></span>
                        Hypothecair Krediet
                    </td>
                    <th scope="row" class="text-center" style="color: #82B54B;">
                        100%
                    </th>
                </tr>
                <tr>
                    <td>
                        <span class="fa fa-square mr-1" style="color: #01afd2;"></span>
                        Pensioen
                    </td>
                    <th scope="row" class="text-center" style="color: #82B54B;">
                        100%
                    </th>
                </tr>
                <tr>
                    <td>
                        <span class="fa fa-square mr-1" style="color: #de6d69;"></span>
                        Schade Particulier
                    </td>
                    <th scope="row" class="text-center" style="color: #82B54B;">
                        100%
                    </th>
                </tr>
                <tr>
                    <td>
                        <span class="fa fa-square mr-1" style="color: #9a69a0;"></span>
                        Schade Zakelijk
                    </td>
                    <th scope="row" class="text-center" style="color: #82B54B;">
                        100%
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>