[viewBag]
==
<!-- Device Mockup -->
<div class="device-wrapper">
<div class="device">
    <img class="img-fluid" src="{{'assets/svg/components/macbook.svg'|theme}}" alt="Image Description">
    <img class="device-macbook-screen" src="{{'assets/img/1618x1010/screen_opleidingsdossier.jpg'|theme}}" alt="Image Description">
</div>
<div class="device device-iphone-x">
    <img class="device-iphone-x-frame" src="{{'assets/svg/components/iphone-x.svg'|theme}}" alt="Image Description">
    <img class="device-iphone-x-screen" src="{{'assets/img/407x867/img7.jpg'|theme}}" alt="Image Description">
</div>
</div>
<!-- End Device Mockup -->