<!-- Testimonials Section -->
<div class="{% if page.id == 'digitale-leeromgeving'%}bg-white{% else %}{%endif%}">
    <div class="container space-bottom-2 space-top-1">
    
        <!-- Title -->
        <div class="w-md-80 text-center mx-md-auto mb-5 mb-md-9" data-aos="fade-up">
            <span class="d-block small font-weight-bold text-cap mb-2">Wat anderen zeggen</span>
            <h2>Deze professionals gingen je voor</h2>
        </div>
        <!-- End Title -->

       
        <!-- Testimonials Section -->
        <div class="row" >
            <!-- Testimonials -->
            <div class="col-md-6 mb-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card h-100 p-2">
                    <div class="card-body">
  
                        <div class="mb-auto">
                            <p class="text-muted mb-0"><em>Impact is een deskundig trainingsinstituut dat ons altijd snel en accuraat helpt. Ze bieden onze adviseurs goede en gerichte opleidingen in een fullservice-pakket. Hun permanente educatie-methode zorgt dat de kennis van onze medewerkers altijd up-to-date en scherp is. Door de diverse trainingsmethodes helpt Impact onze mensen zichzelf te blijven verbeteren.</em></p>
                        </div>
                    </div>
    
                    <div class="card-footer border-0 bg-transparent pt-0 px-5 pb-5">
                        <div class="media align-items-center">
                            <div class="client-logo mr-4">
                                <img src="{{'assets/img/client-logos/qurofinance.png'|theme}}">
                            </div>
                            <div class="media-body">
                                <h4 class="mb-0">William de Winkel </h4>
                                <small class="d-block text-body">Commercieel Directeur bij Quro Finance</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonials -->
            <!-- Testimonials -->
            <div class="col-md-6 mb-6" data-aos="fade-up" data-aos-delay="600">
                <div class="card h-100 p-2">
                    <div class="card-body">
    
                        <div class="mb-auto">
                            <p class="text-muted mb-0"><em>Zuiderhuis volgt zowel de online als de offline PE-trainingen én PA bij Impact. Praktische toepassingen en al jarenlang goede resultaten voor onze medewerkers: wat mij betreft dus zeer aan te bevelen.</em></p>
                        </div>
                    </div>
    
                    <div class="card-footer border-0 bg-transparent pt-0 px-5 pb-5">
                        <div class="media align-items-center">
                            <div class="client-logo mr-4">
                                <img src="{{'assets/img/client-logos/zuiderhuis.png'|theme}}">
                            </div>
                            <div class="media-body">
                                <h4 class="mb-0">Roel Driessen</h4>
                                <small class="d-block text-body">Algemeen Directeur bij Zuiderhuis</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonials -->
        </div>
        <!-- Testimonials Section -->
        <div class="row" >
            <!-- Testimonials -->
            <div class="col-md-6 mb-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card h-100 p-2">
                    <div class="card-body">
    
                        <div class="mb-auto">
                            <p class="text-muted mb-0"><em>PA van Impact is een fijne manier om actuele kennis op te doen. Relevante en toepasbare tips worden goed gedoceerd per e-mail afgeleverd en voor verdere verdieping zijn achtergrondinformatie en -documenten beschikbaar. Een fijne aanvulling op de dagelijkse adviespraktijk van een adviseur. Eenvoudig, overzichtelijk en met voldoende diepgang!</em></p>
                        </div>
                    </div>
    
                    <div class="card-footer border-0 bg-transparent pt-0 px-5 pb-5">
                        <div class="media align-items-center">
                            <div class="mr-4 client-logo">
                                <img src="{{'assets/img/client-logos/adviesnet.png'|theme}}">
                            </div>
                            <div class="media-body">
                                <h4 class="mb-0">Stefan Brouwer</h4>
                                <small class="d-block text-body">Partner en Financieel Raadgever bij Adviesnet</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonials -->
            <!-- Testimonials -->
            <div class="col-md-6 mb-6" data-aos="fade-up" data-aos-delay="600">
                <div class="card h-100 p-2">
                    <div class="card-body">
    
                        <div class="mb-auto">
                            <p class="text-muted mb-0"><em>Wij zijn heel blij met Impact Opleiding & Training. Zij wijzen ons de weg door het bos van de benodigde PE- en Wft-vereisten, zodat wij ons zorgeloos bezig kunnen houden met adviseren.</em></p>
                        </div>
                    </div>
    
                    <div class="card-footer border-0 bg-transparent pt-0 px-5 pb-5">
                        <div class="media align-items-center">
                            <div class="client-logo mr-4">
                                <img src="{{'assets/img/client-logos/nicolemajoor.png'|theme}}">
                            </div>
                            <div class="media-body">
                                <h4 class="mb-0">Nicole Majoor</h4>
                                <small class="d-block text-body">Eigenaar bij Nicole Majoor Financieel Advies</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonials -->
        </div>
    </div>
</div>
<!-- End Testimonials Section -->